// Responsive layout thresholds.
$responsive-desktop-width: 800px;

// General settings.
$general-column-max-width: 1000px;
$general-side-padding: 10px;
$general-color-trans-duration: 0.2s;
$general-fg-color: lighten(black, 10%);
$general-active-fg-color: lighten($general-fg-color, 15%);

// Header.
$header-height-desktop: 40px;
$header-height-mobile: 50px;
$header-links-gutter: 10px;
$header-social-links-gutter: 5px;
$header-fg-color: white;
$header-active-fg-color: darken($header-fg-color, 15%);
$header-bg-color: #294ed7;
$header-font-family: sans-serif;

// Side menu.
$side-menu-max-width: 300px;
$side-menu-fg-color: white;
$side-menu-active-fg-color: darken($side-menu-fg-color, 15%);
$side-menu-bg-color: lighten(black, 20%);
$side-menu-top-sep-color: lighten($side-menu-bg-color, 15%);
$side-menu-bottom-sep-color: darken($side-menu-bg-color, 15%);

// Footer.
$footer-height: 100px;
$footer-fg-color: black;
$footer-bg-color: #bdbdbd;
$footer-font-family: sans-serif;

// z-indexes
$header-z-index: 2;
$side-menu-z-index: 1;
