@import './_variables';

body {
  background-color: $general-bg-color;
}

.site-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.site-page-middle {
  flex-grow: 1;
  // Prevent very long unbreakable text from overflowing on mobile.
  overflow-x: hidden;
}

.site-main-column {
  margin: 0 auto;
  max-width: $general-column-max-width;
  padding: 0 $general-side-padding;
  @media (min-width: $general-column-max-width + 2 * $general-side-padding) {
    padding: 0;
  }
}

.site-content {
  font-family: $general-font-family;
  color: $general-fg-color;

  p, ol, ul {
    margin: 8px 0;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  ol, ul {
    margin-left: 2em;
  }

  a, button {
    transition: color $general-color-trans-duration;
    &:hover {
      color: $general-active-fg-color;
    }
  }

  a {
    text-decoration: underline;
  }

}
