@import './_variables';

.site-header-container {
  padding-top: $header-height-mobile;
  @media (min-width: $responsive-desktop-width) {
    padding-top: $header-height-desktop;
  }
}

html {
  scroll-padding: $header-height-mobile 0 0 0;
  @media (min-width: $responsive-desktop-width) {
    scroll-padding: $header-height-desktop 0 0 0;
  }
}

.site-header-bar {
  $box-shadow-size: 4px;
  $extra-horiz-offset: $box-shadow-size;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  position: fixed;
  top: 0;
  // Make the header bar go off-screen a little bit so the drop shadow is even
  // at the edges.
  left: -$extra-horiz-offset;
  right: -$extra-horiz-offset;
  padding-left: $extra-horiz-offset;
  padding-right: $extra-horiz-offset;
  z-index: $header-z-index;

  height: $header-height-mobile;
  @media (min-width: $responsive-desktop-width) {
    height: $header-height-desktop;
  }

  color: $header-fg-color;
  background-color: $header-bg-color;
  a, button {
    transition: color $general-color-trans-duration;
    &:hover {
      color: $header-active-fg-color;
    }
  }
  box-shadow: 0 2px $box-shadow-size rgba(black, 0.8);
}

.site-side-menu-button {
  width: $header-height-mobile;
  height: $header-height-mobile;
  display: block;
  @media (min-width: $responsive-desktop-width) {
    display: none;
  }

  & > span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      font-size: 26px;
    }
  }
}

.site-side-menu {
  list-style: none;
  overflow: auto;
  top: $header-height-mobile;
  left: 100%;
  bottom: 0;
  transition: transform 0.2s;
  transform: none;
  &.x-open {
    transform: translateX(-100%);
  }

  display: block;
  position: fixed;
  height: auto;
  z-index: $side-menu-z-index;
  width: $side-menu-max-width;
  max-width: 70%;
  @media (min-width: $responsive-desktop-width) {
    display: flex;
    position: static;
    height: 100%;
    background: none;
    z-index: initial;
    width: auto;
    max-width: none;
    // This prevents weird things from happening when the width increases
    // while the side menu is open.
    &.x-open {
      transform: none;
      transition: none;
    }
  }

  color: $side-menu-fg-color;
  a, button {
    &:active {
      color: $side-menu-active-fg-color;
    }
  }
  background-color: $side-menu-bg-color;

  li {
    display: block;

    height: auto;
    border-top: 1px solid $side-menu-top-sep-color;
    border-bottom: 1px solid $side-menu-bottom-sep-color;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
    @media (min-width: $responsive-desktop-width) {
      height: 100%;
      border-top: none;
      border-bottom: none;
    }

    a {
      padding: 15px 20px;
      width: 100%;
      @media (min-width: $responsive-desktop-width) {
        padding: 0 $header-links-gutter;
        width: auto;
      }
      .icon {
        font-size: 20px;
        margin-right: 8px;
      }
    }

    &.site-hide {
      display: block;
      @media (min-width: $responsive-desktop-width) {
        display: none;
      }
    }
  }
}

.site-menu-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
}

.site-social-bar {
  display: none;
  @media (min-width: $responsive-desktop-width) {
    display: flex;
  }
  flex-direction: row;
  list-style-type: none;
  a {
    padding: 0 $header-social-links-gutter;
    &:last-child {
      padding-right: 2 * $header-social-links-gutter;
    }
    .icon {
      font-size: 22px;
    }
  }
}

.site-home-link {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 100%;
}
