extends ../_header_footer.pug

block variables
  -
    title = 'First Post';
    description = 'The first blog post.';
    canonical = '/blog/first-post';

block content
  main.site-main-column.site-content
    h1 First Post
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus pretium quam vulputate dignissim suspendisse in est ante in. Eget velit aliquet sagittis id consectetur purus ut. Donec enim diam vulputate ut pharetra sit. Congue nisi vitae suscipit tellus mauris a diam maecenas. Ornare arcu odio ut sem nulla pharetra diam sit amet. Purus ut faucibus pulvinar elementum. Semper quis lectus nulla at volutpat diam ut. Cras ornare arcu dui vivamus. Pellentesque nec nam aliquam sem et tortor consequat id. Turpis massa tincidunt dui ut ornare. Volutpat est velit egestas dui id ornare arcu odio. Proin libero nunc consequat interdum varius sit. Ac turpis egestas sed tempus urna et pharetra pharetra massa. Risus pretium quam vulputate dignissim suspendisse in est ante. Ligula ullamcorper malesuada proin libero nunc. Urna et pharetra pharetra massa massa ultricies mi. Vitae turpis massa sed elementum tempus egestas sed sed risus. Lobortis scelerisque fermentum dui faucibus in ornare.
