extends ./_header_footer.pug

block variables
  -
    title = 'Babel Test';
    description = 'Testing Babel.';
    canonical = '/test-babel';

block content
  main.site-main-column.site-content
    p Check the .js file loaded by this page.
