extends ./_header_footer.pug

block variables
  -
    title = 'Images Test';
    description = 'Testing images.';
    canonical = '/images-test';

block content
  main.site-main-column.site-content
    h1 JPEG
    img(src=require('../../assets/images/example-image.jpg'))
