extends ./_header_footer.pug

block variables
  -
    title = _metadata.siteName;
    description = 'A simple website built with Webpack using up-to-date packages.';
    canonical = '/';
    // TODO Add images
    //image = require('../../assets/images/webpack-logo.png');
    //imageAlt = 'Webpack Logo';

block content
  main
    p This is an example paragraph.
