extends ./_header_footer.pug

block variables
  -
    title = _metadata.siteName;
    description = 'A simple website built with Webpack using up-to-date packages.';
    canonical = '/';
    // TODO Add images
    //image = require('../../assets/images/webpack-logo.png');
    //imageAlt = 'Webpack Logo';

block content
  main.site-main-column.site-content
    h1= _metadata.siteName
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus pretium quam vulputate dignissim suspendisse in est ante in. Eget velit aliquet sagittis id consectetur purus ut. Donec enim diam vulputate ut pharetra sit. Congue nisi vitae suscipit tellus mauris a diam maecenas. Ornare arcu odio ut sem nulla pharetra diam sit amet. Purus ut faucibus pulvinar elementum. Semper quis lectus nulla at volutpat diam ut. Cras ornare arcu dui vivamus. Pellentesque nec nam aliquam sem et tortor consequat id. Turpis massa tincidunt dui ut ornare. Volutpat est velit egestas dui id ornare arcu odio. Proin libero nunc consequat interdum varius sit. Ac turpis egestas sed tempus urna et pharetra pharetra massa. Risus pretium quam vulputate dignissim suspendisse in est ante. Ligula ullamcorper malesuada proin libero nunc. Urna et pharetra pharetra massa massa ultricies mi. Vitae turpis massa sed elementum tempus egestas sed sed risus. Lobortis scelerisque fermentum dui faucibus in ornare.
    p Amet justo donec enim diam vulputate ut. Morbi leo urna molestie at elementum eu facilisis sed odio. Aliquam purus sit amet luctus venenatis. Amet venenatis urna cursus eget. At imperdiet dui accumsan sit amet nulla. Vitae nunc sed velit dignissim sodales ut. Quis auctor elit sed vulputate mi. In hendrerit gravida rutrum quisque non tellus orci ac auctor. Commodo quis imperdiet massa tincidunt nunc pulvinar. Varius sit amet mattis vulputate enim nulla aliquet porttitor. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis. At volutpat diam ut venenatis tellus in metus. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Fames ac turpis egestas sed tempus. Lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Ac tincidunt vitae semper quis lectus nulla. Dui accumsan sit amet nulla facilisi.
    p Non nisi est sit amet facilisis magna etiam tempor orci. Morbi tristique senectus et netus. Lobortis feugiat vivamus at augue eget arcu dictum varius duis. Nibh mauris cursus mattis molestie a iaculis at erat. Aliquam sem fringilla ut morbi tincidunt augue interdum velit. Et ligula ullamcorper malesuada proin libero nunc consequat. Urna duis convallis convallis tellus id interdum velit laoreet id. Quis varius quam quisque id diam vel quam. Dictumst quisque sagittis purus sit amet. Risus feugiat in ante metus dictum at tempor commodo. Iaculis at erat pellentesque adipiscing commodo elit at. Bibendum at varius vel pharetra vel. Viverra tellus in hac habitasse platea dictumst. Varius vel pharetra vel turpis nunc eget. Sapien et ligula ullamcorper malesuada proin libero nunc.
